#container {
    max-width: 1600px;
    display: flex;
    height: 45rem;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#teamIntroduction {
    /* 팀 소개 영역 */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 565px;
    margin: 20px;
}

.introductionItem {
    /* 팀 소개 아이템 여백 할당 */
    margin-left: 1%;
}

.introductionTitle {
    /* 팀 소개 아이템 타이틀*/
    font-weight: bold;
}

#teamProfileContainer {
    height: auto;
    display: flex;
    width: 1200px;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
}

.profile {
    width: 225px;
}

.profileImage {
    width: 225px;
    height: 225px;
    background-color: aqua;
}

.profileName {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
}

.profileInformation {
    height: 8%;
}

.profileNav {
    height: 8%;
    display: flex;
}

.profileNavItems {
    height: 100%;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileGuestBook {
    height: 200px;
}

.profileGuide {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}